<mat-nav-list>
  <a
    mat-list-item
    (click)="onCloseMenu()">
    <mat-icon>home</mat-icon>
    <span class="navegation-list-label">
      Home
    </span>
  </a>

  <a
    mat-list-item
    (click)="onCloseMenu()"
    routerLink="/auth/login"
    routerLinkActive="link-activate">
    <mat-icon>login</mat-icon>
    <span class="navegation-list-label">
      Inicio Sesion
    </span>
  </a>

  <a
    mat-list-item
    (click)="onCloseMenu()"
    routerLink="/auth/registration"
    routerLinkActive="link-activate">
    <mat-icon>how_to_register</mat-icon>
    <span class="navegation-list-label">
      Registrar
    </span>
  </a>

  <a
    mat-list-item
    (click)="onCloseMenu()"
    routerLink="/auth/contact"
    routerLinkActive="link-activate">
    <mat-icon>contact_support</mat-icon>
    <span class="navegation-list-label">
      Contacto
    </span>
  </a>

  <a
    mat-list-item
    (click)="onCloseMenu()"
    routerLink="/auth/new-product"
    routerLinkActive="link-activate">
    <mat-icon>add</mat-icon>
    <span class="navegation-list-label">
      Nuevo Producto
    </span>
  </a>

  <a
    mat-list-item
    (click)="onCloseMenu()"
    routerLink="/auth/logout"
    routerLinkActive="link-activate">
    <mat-icon>logout</mat-icon>
    <span class="navegation-list-label">
      Cerrar Sesion
    </span>
  </a>
</mat-nav-list>
