@use '../../../../styles/colors' as *;
@use '../../../../styles/fonts' as *;
@use '../../../../styles/vendor/index';

.files-upload {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: $base-font-family;

  &__header {
    margin-bottom: 12px;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer {
    display: inline-flex;
    flex-direction: row-reverse;
    margin-top: 12px;
  }
}

.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed $primary-color-light;
  border-radius: 4px;
  padding: 20px;

  &__hovered {
    border: 2px solid $primary-color;

    .dropzone__label, .dropzone__file {
      opacity: 0.3;
    }
  }
}

.file {
  &__input {
    display: none;
  }

  &__label {
    color: $primary-color;
    &:hover {
      color: $primary-color-dark;
      cursor: pointer;
    }
  }
}

.error {
  color: $error;
  text-align: center;
  padding: 12px;
}
