$base: #fafafa;
$base-light: #fff;
$base-dark: #e0e0e0;
$base-on-text: #000;

$primary-color: #0277bd;
$primary-color-light: #58a5f0;
$primary-color-dark: #004c8c;
$primary-color-on-text: #fff;

$secundary-color: #0d47a1;
$secundary-color-light: #5472d3;
$secundary-color-dark: #002171;
$secundary-color-on-text: #000;

$error: #b00020;
$error-on-text: #fff;
